{% set isActiveItemMenu = app.request.pathInfo|split('/')|last %}

<div class="container-fluid">
    <button class="mobile-menu-toggler" id="mobile_menu_toggler">
        <i class="fas fa-bars"></i>
    </button>

    <a href="{{ path('main_homepage') }}" class="main-logo">
        {{ render(controller('App\\Controller\\EmbedController::showSiteLogo')) }}
    </a>
    <nav class="main-nav">
        <ul class="menu">
            {{ render(controller('App\\Controller\\EmbedController::showHeaderMenu')) }}
            <li class="menu-item">
                <a href="{{ path('app_article_list') }}">
                    <div>{{ 'header_menu.articles'|trans }}</div>
                </a>
            </li>
            <li class="menu-item">
                {{ include('front/_embed/_menu/_menu_cart.html.twig') }}
            </li>
            <li class="menu-item font-weight-bold {% if 'profile' in app.request.pathInfo %}active{% endif %}">
                {% if app.user is not null %}
                    <a href="{{ path('main_profile_index') }}">
                        <div>{{ 'header_menu.profile'|trans }}</div>
                    </a>
                {% else %}
                    <a href="{{ path('main_login') }}">
                        <div>{{ 'auth.login'|trans }}</div>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
