<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_dashboard_show') }}">
        <div class="sidebar-brand-text mx-3">{{ 'admin.title'|trans }}</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_dashboard_show') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{ 'admin.title'|trans }}</span></a>
    </li>
    <hr class="sidebar-divider">

    {# region Sale block #}
    <div class="sidebar-heading">
        {{ 'admin.sales_list.block'|trans }}
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders"
           aria-expanded="true" aria-controls="collapseOrders">
            <i class="fas fa-fw fa-credit-card"></i>
            <span>{{ 'admin.orders.title'|trans }}</span>
        </a>
        <div id="collapseOrders" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner">
                <a class="collapse-item" href="{{ path('admin_order_list') }}">{{ 'admin.list'|trans }}</a>
                <a class="collapse-item" href="{{ path('admin_order_add') }}">{{ 'admin.add_item'|trans }}</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {# endregion Sale block#}

    {# region Blog block #}
    <div class="sidebar-heading">
        {{ 'admin.blog_list.block'|trans }}
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_article_list') }}">
            {{ 'admin.articles.title'|trans }}
        </a>
    </li>
    <hr class="sidebar-divider">
    {# endregion Blog block #}

    {# region Products block #}
    <div class="sidebar-heading">
        {{ 'admin.products_list.block'|trans }}
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
           aria-expanded="true" aria-controls="collapseProducts">
            <i class="fas fa-fw fa-cubes"></i>
            <span>{{ 'admin.products.title'|trans }}</span>
        </a>
        <div id="collapseProducts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner">
                <a class="collapse-item" href="{{ path('admin_product_list') }}">{{ 'admin.list'|trans }}</a>
                <a class="collapse-item" href="{{ path('admin_product_add') }}">{{ 'admin.add_item'|trans }}</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories"
           aria-expanded="true" aria-controls="collapseCategories">
            <i class="fas fa-fw fa-folder"></i>
            <span>{{ 'admin.categories.title'|trans }}</span>
        </a>
        <div id="collapseCategories" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner">
                <a class="collapse-item" href="{{ path('admin_category_list') }}">{{ 'admin.list'|trans }}</a>
                <a class="collapse-item" href="{{ path('admin_category_add') }}">{{ 'admin.add_item'|trans }}</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {# endregion Products block #}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {# region General block #}
        <div class="sidebar-heading">
            {{ 'admin.settings.block'|trans }}
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
               aria-expanded="true" aria-controls="collapseUsers">
                <i class="fas fa-fw fa-user"></i>
                <span>{{ 'admin.user_list.block'|trans }}</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="py-2 collapse-inner">
                    <a class="collapse-item" href="{{ path('admin_user_list') }}">{{ 'admin.list'|trans }}</a>
                    <a class="collapse-item" href="{{ path('admin_user_add') }}">{{ 'admin.user_list.add_item'|trans }}</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
               aria-expanded="true" aria-controls="collapseSettings">
                <i class="fas fa-fw fa-user"></i>
                <span>{{ 'admin.settings.block'|trans }}</span>
            </a>
            <div id="collapseSettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="py-2 collapse-inner">
                    <a class="collapse-item" href="{{ path('app_site_settings_site') }}">{{ 'site_settings.title'|trans }}</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        {# endregion General block #}
    {% endif %}

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
