<div class="d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">{{ 'Filters'|trans }}</h6>
    <a href="#"
       class="d-none d-sm-inline-block btn btn-sm btn-outline-secondary shadow-sm"
       id="{{ id }}"
    >
        <i class="fas fa-filter fa-sm"></i> {{ 'Show'|trans }}/{{ 'Hide'|trans }} {{ 'Filters'|trans|lower }}
    </a>
</div>
